@{
    ViewBag.Title = "Match administration";
}

@section ViewHeader {
@Scripts.Render("~/Scripts/GroupAdmin/MatchesViewModel.js")
@Scripts.Render("~/Scripts/GroupAdmin/Matches.js")
@Scripts.Render("~/Scripts/moment.js")
@Styles.Render("~/Content/themes/default/matchadmin.css")

    <script>
        $(document).ready(function () {
            var model = @Html.Raw(Json.Encode(Model));
            var matches = new Matches(model);
            matches.init();
        });
    </script>
}

<ul data-bind="foreach: matches" class="BetList">
    <li style="margin: 10px 0px">
        <input type="checkbox" data-bind="checked: match.shouldUpdate" />
        <span data-bind="text: moment(match.StartTime).format('MMMM Do, HH:mm')"></span>
        <span class="team-name" data-bind="text: match.Host"></span>
        <input class="score-textbox" data-bind="value: match.GoalsScoredByHost" />
        <span class="team-name" data-bind="text: match.Visitor"></span>
        <input class="score-textbox" data-bind="value: match.GoalsScoredByVisitor" />
        <span>complete?</span>
        <input type="checkbox" data-bind="checked: match.markedComplete" />
    </li>
</ul>

<button data-bind="click: submit">submit</button>

