@{
    ViewBag.Title = "Ranking";
}

@section ViewHeader {
    @Scripts.Render("~/Scripts/Ranking/RankingOverviewViewModel.js")
    @Scripts.Render("~/Scripts/Ranking/RankingOverview.js")
    @Styles.Render("~/Content/themes/default/ranking.css")
    @Styles.Render("~/Content/themes/default/shared.css")


    <script>
        $(document).ready(function () {
            var model = @Html.Raw(Json.Encode(Model));
            var rankingOverview = new RankingOverview(model);
            rankingOverview.init();
        });
    </script>
}

<div class="table-container">
    <ul data-bind="foreach: users" class="ranking-list">
        <li class="table-item-container" data-bind="css:{ winner: isWinner, loser: isLoser}">
            <div class="table-item-main">
                <div class="table-item-container name-container">
                    <span data-bind="text: user.UserName"></span>
                </div>
                <div class="table-item-container score-container">
                    <span data-bind="text: userScore.Score"></span>
                </div>
            </div>
        </li>
    </ul>
</div>
