@model Gumblr.Models.BettingModel

@{
    ViewBag.Title = "Place your bets";
}

@section ViewHeader {
    @Scripts.Render("~/Scripts/GameBet/PlaceBetsViewModel.js")
    @Scripts.Render("~/Scripts/GameBet/PlaceBets.js")
    @Scripts.Render("~/Scripts/spin.min.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/Shared/loader.js")
    @Scripts.Render("~/Scripts/jquery.flot.min.js")
    @Scripts.Render("~/Scripts/jquery.flot.pie.min.js")
    @Scripts.Render("~/Scripts/chosen.jquery.min.js")
    @Scripts.Render("~/Scripts/chosen.proto.min.js")
    @Scripts.Render("~/Scripts/Shared/StatisticsPlot.js")
    @Scripts.Render("~/Scripts/toastr.min.js")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/themes/base/minified/chosen.min.css")
    @Styles.Render("~/Content/themes/default/placebets.css")
    @Styles.Render("~/Content/themes/default/shared.css")
    @Styles.Render("~/Content/toastr.css")

    <script>
        $(document).ready(function () {
            var model = @Html.Raw(Json.Encode(Model));
            var placeBets = new PlaceBets(model);
            placeBets.init();
        });
    </script>
}

<div class="hide-button-container">
    <a href="#" data-bind="click: hideStartedMatches, text: hideButtonText"></a>
</div>

<div class="WinnerSelectionFrame">
    <div class="WinnerSelectionFrameTitle">
        <span>Champion</span>
    </div>
    <div class="SelectContainer">
        <select class="DropDown" data-bind="options: possibleWinners, value: winner, optionsCaption: '...'"> </select>
    </div>
    <div class="SelectedItemContainer">
        <img class="Logo" data-bind="attr:{src: winnerLogo}" />
    </div>
</div>

<ul data-bind="foreach: matches" class="BetList">
    <li>
        <div data-bind="css: getMatchContainerClass">
            <div data-bind="css: match.getSuccessIndicatorClass, click: match.showMatchDetailsBackgroundClick ">
                <div class="TeamsContainer">
                    <div class="LogoContainer">
                        <div class="team-name-container">
                            <span class="TeamName" data-bind="text: match.Host"></span>
                        </div>
                        <input class="Logo Host" type="image" data-bind="attr:{src: match.hostLogoUrl }, click: selected, css: { 'Selected': match.ExpectedResult() == 0 }, event: { mouseover: match.onMouseIn, mouseout: match.onMouseOut }" />
                    </div>
                    <div class="LogoContainer">
                        <div class="team-name-container">
                            <span class="title-text">vs.</span>
                        </div>
                        <input class="Logo Tie" type="image" data-bind="attr:{src: match.drawLogoUrl }, click: selected, css: { 'Selected': match.ExpectedResult() == 1, 'Draw': match.ExpectedResult() != 1, 'hidden': match.Stage() > 1}, event: { mouseover: match.onMouseIn, mouseout: match.onMouseOut } " />
                    </div>
                    <div class="LogoContainer">
                        <div class="team-name-container">
                            <span class="TeamName" data-bind="text: match.Visitor"></span>
                        </div>
                        <input class="Logo Visitor" type="image" data-bind="attr:{src: match.visitorLogoUrl}, click: selected, css: { 'Selected': match.ExpectedResult() == 2 }, event: { mouseover: match.onMouseIn, mouseout: match.onMouseOut }" />
                    </div>
                </div>
                <p class="MatchSubtitle">
                    <span class="bold" data-bind="text: match.StageString"></span> at <span data-bind="text: match.Venue"></span>
                </p>
                <p class="MatchSubtitle">
                    <span data-bind="text: moment(match.StartTime).format('ddd, MMMM Do, HH:mm')"></span>
                </p>
            </div>

            <div class="StatisticsFrame">
                <div class="buttons-container" data-bind="css: match.getStatsButtonContainerClass">
                    <button class="DefaultButton centered" data-bind="click: showStatistics">stats</button>
                </div>
                <div class="buttons-container" data-bind="css: match.getDetailsButtonContainerClass">
                    <button class="DefaultButton centered" data-bind="click: match.showMatchDetailsButtonClick">info</button>
                </div>
                <div class="LoaderContainer">

                </div>
            </div>
    </li>
</ul>
<div class="BottomLine">
    <div class="SubmitContainer">
        <a class="DefaultButton" data-bind="click: uploadBets">submit</a>
    </div>
</div>